html {
	height: 100%;
}

body {
	color: deepskyblue;
	background-color: #012;
  	font-family: sans-serif;
	height: 100%;
	margin:0;
	padding:0;
	width: 100%;
}

.menu-container {
    background-color: rebeccapurple;
    padding: 16px 0;
    text-align: center;
}

.action-buttons-container i {
    border: 2px solid deepskyblue;
	border-radius: 6px;
    cursor: pointer;
    margin-left: 8px;
	padding: 6px;
    text-align: center;
    width: 25px;
}

.action-buttons-container i:first-child {
    margin-left: 0;
}

.world-container {
	display: table;
	margin: 20px auto 0 auto;
	text-align: center;
}

.world-container .row {
	display: table-row;
}

.world-container .cell {
	display: inline-block;
	background-color: #123;
	border: 1px solid #001122;
	height: 4px;
	width: 5px;
}

.world-container .cell.on {
	background-color: #05F;
}

.btn {
    transition: all 0.25s;
    opacity: 1;
    transform: scale(1);
}

.btn:hover {
    transition: opacity 0.25s;
    opacity: .75;
    transform: scale(1.05);
}