html {
	height: 100%;
}

body {
	color: deepskyblue;
	background-color: #012;
  	font-family: sans-serif;
	min-height: 100%;
	margin:0;
	padding:0;
	width: 100%;
}

.action-buttons-container {
	display: flex;
	justify-content: space-around;
}

.action-buttons-container i {
	padding: 6px;
	cursor: pointer;
	border: 2px solid deepskyblue;
	border-radius: 6px;
  	width: 25px;
  	text-align: center;
}

.grid-form-container {
	display: inline-block;
	margin: 10px;
	padding: 10px;
	vertical-align: top;
}

.grid-form-container label {
	padding: 6px;
}

.grid-form-container input {
	background-color: rgba(0,0,0,0);
	border: none;
	border-bottom: 3px solid deepskyblue;
	color: deepskyblue;
	font-size: larger;
	padding: 6px;
	text-align: center;
	width: 75px;
}

.world-container {
	display: table;
	margin: 20px auto 0 auto;
	text-align: center;
}

.world-container .row {
	display: table-row;
}

.world-container .cell {
	display: inline-block;
	background-color: #123;
	border: 1px solid #001122;
	/*cursor: pointer;*/
	height: 4px;
	width: 5px;
}

.world-container .cell.on {
	background-color: #05F;
}

.btn {
    transition: all 0.25s;
    opacity: 1;
    transform: scale(1);
}

.btn:hover {
    transition: opacity 0.25s;
    opacity: .75;
    transform: scale(1.05);
}